html {
    font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100vh;
}

.table-separate {
    border-collapse: separate !important;
    border-spacing: 0 1rem !important;
}

.focus-none:focus {
    outline: none !important;
}

.nav-pills > li:hover {
    filter: invert(1);
}


.left-navbar {
    width: 250px !important;
    scrollbar-width: none
}

.main-content {
    padding-left: 250px;
}

@media (max-width: 500px) {
    .left-navbar {
        width: 250px !important;
        scrollbar-width: none;
        left: -255px
    }

    .main-content {
        padding-left: 0.5rem;
    }
}

.nav-show {
    width: 250px !important;
    scrollbar-width: none;
    left: 0 !important
}

.render-body {
    padding-left: 250px !important
}

@media (max-width:700px) {
    .render-body {
        padding-left: 0px !important
    }
}
